<div class="body_heading_gap">
  <h1>Recipe Index</h1>
</div>


<!-- <p><%= render :partial => 'categories' %></p>
<ul class="nav nav-pills">
<li><%= render :partial => 'categories', :role => 'presentation', :class => 'active' %></li>
</ul> -->

<% @recipes.each do |recipe| %>
<div class="col-md-3">
  <p><%= link_to recipe.name, recipe_path( recipe.id ) %></p>
  <p><%= link_to (cl_image_tag recipe.image, :class => 'thumb'), recipe_path( recipe.id ) %></p>
  <p>Serves - <%= recipe.servings %></p>
  <p>Preparation Time - <%= recipe.preparation_time %> mins</p>
  <% if recipe.category.present? %>
    <p><%= recipe.category.recipe_type %></p>
    <% end %>

  <p>_________________________  <p>
    <br />
</div>
<% end %>
