<h1><%=@recipe.name%></h1>
<nav>
    <%= link_to 'Add New Recipe', new_recipe_path,  :class =>'link'  %>  |
    <%= link_to 'Update Recipe', edit_recipe_path,  :class =>'link'  %> |
    <%= link_to 'Delete Recipe', recipe_path, :method => 'delete', :class =>'link'  %>
</nav>
<br />
<p><%= render :partial => 'categories' %></p>
<br />
<div>
  <p>Serves - <%= @recipe.servings %> ~ Preparation Time - <%= @recipe.preparation_time %> mins</p>
  <p><%= cl_image_tag(@recipe.image, :class =>'full_image') %></p>
  <p>Ingredients - <%= @recipe.ingredients %> mins</p>
  <p>Method - <%= @recipe.method %> mins</p>
  
  <p>Tips - <%= @recipe.tips %> mins</p>
  <% if @recipe.category.present? %>
  <p>Category - <%= @recipe.category.recipe_type %></p>
  <% end %>
</div>
