<h1><%=@recipe.name%></h1>

<nav>
    <%= link_to 'Add New Recipe', new_recipe_path,  :class =>'link'  %>  |
    <%= link_to 'Update Recipe', edit_recipe_path,  :class =>'link'  %> |
    <%= link_to 'Delete Recipe', recipe_path, :method => 'delete', :class =>'link'  %>
</nav>
<br />
<div>
  <p>Serves - <%= @recipe.servings %> ~ Preparation Time - <%= @recipe.preparation_time %> mins</p>
  <p><%= cl_image_tag(@recipe.image, :class =>'thumb') %></p>
  <p>Ingredients - <%= @recipe.ingredients %> mins</p>
  <p>Method - <%= @recipe.method %> mins</p>
  <p>Tips - <%= @recipe.tips %> mins</p>
</div>
